@import '../../mixins/mixin';
@import '../../variables/variable';

/*==============================================
                Navbar Part Start
================================================*/
.main_menu {
    padding: 30px 0;
    background: $wh;

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #000;
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .ham1 .top {
        stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }

    .ham1.active .top {
        stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }


    &.menu_fix {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .10);
        // border-bottom: 1px solid $green;
    }

    ul {
        li {
            padding-left: 18px !important;
            padding-right: 18px !important;

            a {
                @include fs($para, 16px, 600, $ff1);
                text-transform: capitalize;
                transition: all linear .3s;

                &:hover {
                    color: $green;
                }
            }
        }
    }

    .cart {
        ul {
            li {
                padding: 0 !important;
                padding-right: 25px !important;

                &:last-child {
                    padding-right: 0;
                }

                a {
                    position: relative;

                    span {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        color: $wh;
                        font-size: 11px;
                        background: $orange;
                        border-radius: 50%;
                        top: -2px;
                        right: -11px;
                        text-align: center;
                        line-height: 18px;
                    }

                    &:hover {
                        i {
                            color: $green;
                        }
                    }

                    i {
                        font-size: 19px;
                        color: $para;
                        transition: all linear .3s;
                    }
                }
            }
        }
    }
}

/*==============================================
                Navbar Part End
================================================*/